node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.output
.wrangler
.vinxi
todos.json

routeTree.gen.ts

/src/queries/graphql/generated
/src/queries/sanity/generated
.claude
tmp
